<div class="hero">
    <nav>
        <h2 class="logo">Dhruv <span>Rathod</span></h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul>
            <input type="text" placeholder="Search.." name="search">
            <button type="button">Search</button>
        </ul>
       
    </nav>
</div>